%header<
  チャットグループが作成されました。

%div.side-contents
  %div.side-contents__user
    %div.side-contents__user-content
      %div.side-contents__user-name
        勘太郎
        = link_to "", method: :get, class: "side-contents__user--new-group" do
          %i.fa.fa-pencil-square-o
        = link_to "", method: :get, class: "side-contents__user--edit-user" do
          %i.fa.fa-cog

  %div.side-contents__groups
    %div.side-contents__groups-list
      %div.side-contents__group
        %div.side-contents__group-name
          sample-group
        %div.side-contents__group-message
          こんにちわ
      %div.side-contents__group
        %div.side-contents__group-name
          サンプル
        %div.side-contents__group-message
          こんばんわ

%div.main-contents
  %div.main-contents__header
    %div.main-contents__header--group.clearfix
      %div.main-contents__header--group-name
        sample-group
